.Social {
  display: flex;
  flex-direction: row;
  width: 100%;
  /*margin: 5px auto;*/
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
}
